.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: #888;
  border-bottom: 5px solid #000;
}

.navbar a {
  display: flex;
  color: black;
  text-align: left;
  padding: 14px;
  text-decoration: none;
  justify-content: flex-start;
  align-items: center;
}

.navbar a:hover {
  background-color: black;
  color: white;
}

.navbar img:hover{
  filter: grayscale(1) invert(1);
}

.logo{
  height: 1.8rem;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: flex-start;
  }

  .navbar a {
    width: 100%;
    text-align: center;
  }

  .logo {
    height: 1.2rem;
  }
}
